<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a40a80e33c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dark_mode.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>Milk Road</title>
</head>

<body>
    <div class="parent">
        <div class="header">
            <a href="{{ url_for('index') }}"><img src="/static/images/silk.svg"></a>
            <a href="{{ url_for('index') }}">
                <div id="main_text_box">
                    <h1 id="main_text">Milk Road</h1>
                    <em>
                        <h2 id="sub_text">A random marketplace</h2>
                    </em>
                </div>
            </a>
        </div>
        <div class="nav">
            <div id="global" class="toggle-off">
                <!-- <a>
                    <img src="/static/silk.svg" id="camel_icon"></a>

                <a> -->
                {% if g.user %}
                <a>
                    <p>Balance: <b style="color: #3C7D00;">฿ {{ g.funds }}</b></p>
                </a>
                <a href="{{ url_for('wallet') }}">
                    <p>Wallet<b>(฿)</b></p>
                </a>
                <p>Hi {{ g.user }}!</p>
                <a href="{{ url_for('logout') }}">
                    <p>Logout</p>
                </a>

                {% else %}
                <p>(Not logged in)</p>
                <a href="{{ url_for('login') }}">
                    <div>Login</div>
                </a>
                {% endif %}
                <div id="toggle-icon" class="toggle-off">
                    <i onclick="toggleIcon(); darkMode();" class="fas fa-toggle-on toggle-icon fa-2xl"
                        id="toggle-on"></i>
                    <i onclick="toggleIcon(); darkMode();" class="fas fa-toggle-off toggle-icon fa-2xl "
                        id="toggle-off"></i>
                </div>
            </div>

            <div id="nav_options">
                <a>
                    <div>Advanced Search</div>
                </a>
                <a>
                    <div><i class="fa-solid fa-inbox"></i>Inbox(0)</div>
                </a>
                <a>
                    <div><i class="fa-solid fa-truck"></i>Orders(0)</div>
                </a>

                {% if g.user %}
                <a href="{{ url_for('cart') }}">
                    <div><i class="fa-solid fa-cart-shopping"></i>Cart({{ total_cart_count}})</div>
                    {% else %}
                    <a href="{{ url_for('cart') }}">
                        <div><i class="fa-solid fa-cart-shopping"></i>Cart(0)</div>
                    </a>
                    {% endif %}

                </a>
                <a href="{{ url_for( 'account_details') }}">
                    <div><i class="fa-solid fa-user"></i>Account</div>
                </a>
            </div>
            <div class="search">
                <div id="search_word"><b>Search</b></div>
                <div id="search_border">
                    <input type="text">
                    <!-- placeholder="Search.." -->
                    <a href="{{ url_for('index') }}"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
            </div>

            <div id="contact_details">
                <a>
                    <div>About</div>
                </a>
                <a>
                    <div>Contact</div>
                </a>
                <a>
                    <div>Donate</div>
                </a>
            </div>
        </div>
        <div class="marquee">
            <div id="marquee_content">
                <h2>Welcome</h2>
            </div>
        </div>
        <div class="categories">
            <div id='category_box'>Search By <b>Category</b></div>
            <ul>
                <a href="{{ url_for('category', category='weapons') }}">
                    <li>Weapons</li>
                </a>
                <ul>
                    <a href="{{ url_for('category', category='firearm') }}">
                        <li>Firearms</li>
                    </a>
                    <a href="{{ url_for('category', category='explosive') }}">
                        <li>Explosives</li>
                    </a>
                    <a href="{{ url_for('category', category='ammunition') }}">
                        <li>Ammunition</li>
                    </a>
                    <a href="{{ url_for('category', category='tactical_gear') }}">
                        <li>Tactical Gear</li>
                    </a>
                    <a href="{{ url_for('category', category='military_equipment') }}">
                        <li>Military Equipment</li>
                    </a>
                </ul>
            </ul>
            <ul>
                <a href="{{ url_for('category', category='drugs_medicine') }}">
                    <li>Drugs & Medicine</li>
                </a>
                <ul>
                    <a href="{{ url_for('category', category='prescription_meds') }}">
                        <li>Prescription Meds</li>
                    </a>
                    <a href="{{ url_for('category', category='illicit_drugs') }}">
                        <li>Illicit Drugs</li>
                    </a>
                    <a href="{{ url_for('category', category='research_chemicals') }}">
                        <li>Research Chemicals</li>
                    </a>
                    <a href="{{ url_for('category', category='herbal_natural_substances') }}">
                        <li>Herbal/Natural Substances</li>
                    </a>
                </ul>
            </ul>
            <ul>
                <a href="{{ url_for('category', category='services') }}">
                    <li>Services</li>
                </a>
                <ul>
                    <a href="{{ url_for('category', category='hacking_cyber_services') }}">
                        <li>Hacking/Cyber Services</li>
                    </a>
                    <a href="{{ url_for('category', category='forged_documents') }}">
                        <li>Forged Documents</li>
                    </a>
                    <a href="{{ url_for('category', category='contractors_protection') }}">
                        <li>Contractors/Protection</li>
                    </a>
                    <a href="{{ url_for('category', category='blackmail_info_leaks') }}">
                        <li>Blackmail/Info Leaks</li>
                    </a>
                </ul>
            </ul>
            <ul>
                <a href="{{ url_for('category', category='real_estate') }}">
                    <li>Real Estate</li>
                </a>
                <ul>
                    <a href="{{ url_for('category', category='safehouses') }}">
                        <li>Safehouses</li>
                    </a>
                    <a href="{{ url_for('category', category='underground_bunkers') }}">
                        <li>Underground Bunkers</li>
                    </a>
                    <a href="{{ url_for('category', category='off_grid_cabins') }}">
                        <li>Off-grid Cabins</li>
                    </a>
                </ul>
            </ul>
            <ul>
                <a href="{{ url_for('category', category='lifestyle_luxury') }}">
                    <li>Lifestyle / Luxury</li>
                </a>
                <ul>
                    <a href="{{ url_for('category', category='alcohol') }}">
                        <li>Alcohol</li>
                    </a>
                    <a href="{{ url_for('category', category='rare_cigars_tobacco') }}">
                        <li>Rare Cigars & Tobacco</li>
                    </a>
                    <a href="{{ url_for('category', category='jewelry_rare_gems') }}">
                        <li>Jewelry / Rare Gems</li>
                    </a>
                    <a href="{{ url_for('category', category='artifacts_antiquities') }}">
                        <li>Artifacts / Antiquities</li>
                    </a>
                    <a href="{{ url_for('category', category='exotic_animals') }}">
                        <li>Exotic Animals</li>
                    </a>
                    <a href="{{ url_for('category', category='designer_clothes') }}">
                        <li>Designer Clothes</li>
                    </a>
                </ul>
            </ul>
            <ul>
                <a href="{{ url_for('category', category='digital_tech') }}">
                    <li>Digital / Tech</li>
                </a>
                <ul>
                    <a href="{{ url_for('category', category='software_keys_licenses') }}">
                        <li>Software Keys / Licenses</li>
                    </a>
                    <a href="{{ url_for('category', category='malware_exploits') }}">
                        <li>Malware / Exploits</li>
                    </a>
                    <a href="{{ url_for('category', category='stolen_data') }}">
                        <li>Stolen Data</li>
                    </a>
                    <a href="{{ url_for('category', category='burner_phones_sim_cards') }}">
                        <li>Burner Phones / SIM Cards</li>
                    </a>
                    <a href="{{ url_for('category', category='encrypted_devices') }}">
                        <li>Encrypted Devices</li>
                    </a>
                </ul>
            </ul>
            <ul>
                <a href="{{ url_for('category', category='random_misc') }}">
                    <li>Random / Misc</li>
                </a>
                <ul>
                    <a href="{{ url_for('category', category='Random') }}">
                        <li>random</li>
                    </a>
                    <li>Curiosities</li>
                    <li>Black Market Organics</li>
                    <li>Lottery Access Codes</li>
                    <li>Underground Events</li>
                    <li>Custom Requests</li>
                </ul>
            </ul>

        </div>

        <div class="news">News/Posts</div>
        <div class="footer">Footer
            <a href="{{ url_for('delete') }}">
                <p>Delete Account</p>
            </a>
            <p>Settings</p>
        </div>
        <div class="main">
            {% block main_content %}

            {% endblock %}
        </div>
    </div>


    <script src="{{ url_for('static', filename='frontend.js') }}"></script>
</body>

</html>