{% extends 'base.html' %}

{% block main_content %}
<div id="cart_container">
    <div>
        <h2>Shopping cart</h2>
        <h2>{{ total_cart_count }} Items</h2>
    </div>
    <hr>
    {% if cart %}
    {#<!-- <a href="{{ url_for('order') }}">Click to Purchase</a> --> #}
    <!-- <a>Click to Purchase</a> -->
    <table>
        <tr>
            <th>Product Details</th>
            <th></th>
            <th colspan="1">Price</th>
            <th colspan="3">Quantity</th>
            <th>Total</th>
        </tr>
        {% for serialNum, item in products.items() %}
        <tr>
            <!-- Images -->
            <td><img src="{{ url_for('static', filename=item['image']) }}" alt="{{ item.name }}"></td>

            <!-- Name/Type/Remove -->
            <td id="name">{{ item.name }}</td>
            <td id="category">{{ item.category }}</td>
            <td id="remove"><a href="{{ url_for('remove_from_cart', serialNum=serialNum) }}">Remove</a></td>

            <!-- Price -->
            <td id="price">฿{{ item.price }}</td>

            <!-- (-/+) quantity -->
            <td id="increment"><a href="{{ url_for('decrement_cart', serialNum=serialNum) }}">-</a></td>
            <td id="quanity">{{ item.quantity }}</td>
            <td id="decrement"><a href="{{ url_for('increment_cart', serialNum=serialNum) }}">+</a></td>

            <!-- Total -->
            <td id="item_total">฿{{ item.price * item.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div id="empty_cart">
        <strong>Your cart is empty!</strong>
    </div>
    {% endif %}

    <hr>
    {% if cart %}
        <div id="total_cost_box">
            <b>Total Cost:</b>
            <b>฿{{ total }}</b>
        </div>
    {% else %}
        <div id="total_cost_box">
            <b>Total Cost:</b>
            <b>฿0.0</b>
        </div>
    {% endif %}

    <div id="checkout">
        <p></p>
        <div id="checkout_box"><a href="{{ url_for('order') }}">Proceed To checkout</a></div>
    </div>
    </div>
        <p id="continue_shopping"><a href="{{ url_for('index') }}">Continue Shopping</a></p>
        <p id="clear_cart"><a href="{{ url_for('clear_cart') }}">Clear Cart</a></p>
    </div>


{% endblock %}