{% extends "base.html" %}

{% block main_content %}
<div id="all_categories"><b>{{ label }}</b></div>
<div id="item_grid">

    {% if products %}
    {% for product in products %}
    <div id="item_container">
        <a href="{{ url_for('product', serialNum=product['serialNum']) }}">
            <img src="{{ url_for('static', filename=product['image']) }}">
        </a>

        <div id="item_name">
            <a href="{{ url_for('product', serialNum=product['serialNum']) }}">
                <b>{{ product["name"] }}</b>
            </a>
        </div>
        <div id="item_price">฿{{ product["price"] }}</div>
        <div id="item_details">Click for Details</div>
    </div>
    {% endfor %}
    {% else %}
    <p>No Products found in category!</p>
    {% endif %}

</div>

<div class="pagination_container">

    {% if page > 1 %}
        <a href="{{ url_for('index', page=page-1) }}">Previous</a>
        <div id="previous_page_counter" >Page {{ page }} of {{ total_pages }}</div>
    {% endif %}

    <div></div>

    {% if page < total_pages %}
        <div>Page {{ page }} of {{ total_pages }}</div>
        <a href="{{ url_for('index', page=page+1) }}">Next</a>
    {% endif %}
</div>

{% endblock %}