{% extends 'base.html' %}

{% block main_content %}
<div id="single_item_grid">
    
    <div id="single_item_container">
        <a href="{{ url_for('product', serialNum=product['serialNum']) }}">
            <img src="/{{ product['image'] }}">
        </a>
        <div id="item_name">
            <a href="{{ url_for('product', serialNum=product['serialNum']) }}">
                <b>{{ product["name"] }}</b>
            </a>
        </div>
    <div id="item_price">฿{{ product["price"] }}</div>

    <!-- WEAPONS -->
    {% if product['category'] == 'firearm'  %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Weight(kg):</b> {{ details["weight"] }}</li>
        <li id="item_name"><b>Barrel Length:</b> {{ details["barrel_length"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>
    {% elif product['category'] == 'explosive' %}
    <ul>
        <li id="item_name"><b>Density:</b> {{ details["density"] }}</li>
        <li id="item_name"><b>Weight(kg):</b> {{ details["weight"] }}</li>
        <li id="item_name"><b>Chemical Composition:</b> {{ details["chemical_composition"] }}</li>
        <li id="item_name"><b>Sensitivity:</b> {{ details["sensitivity"] }}</li>
        <li id="item_name"><b>Detonation Velocity:</b> {{ details["detonation_velocity"] }}</li>
        <li id="item_name"><b>Water Resistance:</b> {{ details["water_resistance"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>
    {% elif product['category'] == 'ammunition' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>
    {% elif product['category'] == 'tactical_gear' %}
    <ul>
        <li id="item_name"><b>Weight:</b> {{ details["weight"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Color:</b> {{ details["color"] }}</li>
        <li id="item_name"><b>Size:</b> {{ details["size"] }}</li>
        <li id="item_name"><b>Protection Level:</b> {{ details["protection_level"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>
    {% elif product['category'] == 'military_equipment' %}
    <ul>
        <li id="item_name"><b>Weight:</b> {{ details["weight"] }}</li>
        <li id="item_name"><b>Country Of Origin:</b> {{ details["country_of_origin"] }}</li>
        <li id="item_name"><b>Effective Range:</b> {{ details["effective_range"] }}</li>
        <li id="item_name"><b>Crew Required:</b> {{ details["crew_required"] }}</li>
        <li id="item_name"><b>Year Of Service:</b> {{ details["year_of_service"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    <!-- DRUGS/MEDICINE -->
    {% elif product['category'] == 'Prescription Meds' %}
    <ul>
        <li id="item_name"><b>Dosage:</b> {{ details["dosage"] }}</li>
        <li id="item_name"><b>Form:</b> {{ details["form"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Illicit Drugs' %}
    <ul>
        <li id="item_name"><b>Substance:</b> {{ details["substance"] }}</li>
        <li id="item_name"><b>Purity Percentage:</b> {{ details["purity_percentage"] }}</li>
        <li id="item_name"><b>Packaging:</b> {{ details["packaging"] }}</li>
        <li id="item_name"><b>Street Price Per Pram:</b> {{ details["street_price_per_gram"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Research Chemicals' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Herbal/Natural Substances' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    <!-- SERVICES -->
    {% elif product['category'] == 'Hacking/Cyber Services' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Forged Documents' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Contractors/Protection' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Blackmail/Info Leaks' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    <!-- REAL ESTATE -->
    {% elif product['category'] == 'Safehouses' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Underground Bunkers' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Off-grid Cabins' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    <!-- LIFESTYLE / LUXURY -->

    {% elif product['category'] == 'Alcohol' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Rare Cigars & Tobacco' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Jewelry / Rare Gems' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Artifacts / Antiquities' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Exotic Animals' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Designer Clothes' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    <!-- DIGITAL/TECH -->
    {% elif product['category'] == 'Software Keys / Licenses' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Malware / Exploits' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Stolen Data' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Burner Phones / SIM Cards' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'Encrypted Devices' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    <!-- RANDOM/MISC -->

    {% elif product['category'] == 'Random' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'curiosities' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'black_market_organics' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'lottery_access_codes' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'underground_events' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>

    {% elif product['category'] == 'custom_requests' %}
    <ul>
        <li id="item_name"><b>Caliber:</b> {{ details["caliber"] }}</li>
        <li id="item_name"><b>Bullet Weight(kg):</b> {{ details["bullet_weight"] }}</li>
        <li id="item_name"><b>Shape:</b> {{ details["shape"] }}</li>
        <li id="item_name"><b>Charge:</b> {{ details["charge"] }}</li>
        <li id="item_name"><b>Material:</b> {{ details["material"] }}</li>
        <li id="item_name"><b>Description:</b> {{ product["description"] }}</li>
    </ul>




    
    
    {% endif %}
    </div>
</div>






<p id="item_name">
    <a href="{{ url_for('add_to_cart', serialNum=product['serialNum']) }}">Add To Cart</a>
</p>
<p id="item_name">
    <a href="{{ url_for('index') }}">Go Back</a>
</p>
{% endblock %}