/* MAIN */
/* GENERAL */

/* #TODO: */
 /* @font-face {
    font-family:'header_font';
    src: url("{{ url_for('static', filename='fonts/FiraMono-Bold.ttf') }}");
} */

body {
    margin: 20px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
a{
    text-decoration: none;
    color: inherit; 
}

/* GRID PARENT */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

/* BOX DIVIDERS */
    /* HEADER */
    .header { 
        grid-area: 1 / 1 / 3 / 3;
        height: 200px;
        background-color: white;
        display: flex;
        color: #3C7D00;
     }
    #main_text{
        font-size: 65px;
        /* font-family: 'header_font'; */
        
    }
    #sub_text{
        margin-top: -45px;
        /* font-family: 'header_font'; */
        font-size: 20px;
    }
    img{
        height: 90%;
        margin-left: 3px;
        margin-top: 3px;
    }

  

    /* NAVIGATION */
    .nav { 
        grid-area: 1 / 3 / 3 / 6;
        background-color:white;
        color: #3C7D00;
        text-align: right;
        margin-bottom: 58px;
         }
    
    #global{
        display: flex;
        justify-content: right;
        align-items: baseline;
        gap: 20px;
         
    }
    #nav_options{
        display: flex;
        justify-content: flex-end;
        font-size: 19px;
        gap: 5px;
        margin-bottom: 25px;
    }
    #nav_options > a {
        border-right: 2px solid #3C7D00;
        margin-left: 20px;
        padding-right: 30px;
        padding-left: -40px;
        transition: transform 0.3s ease
    }
    #nav_options > a:hover{
        font-size: 21px;
        color: black;
        transform: scale(1.1);
        transition: .5s;
        margin-bottom: -5px;
    }

    /* #camel_icon{
        width: 50px;
        height: 50px; 
        object-fit: contain; 
        border-radius: 50px;
        border: 1px solid black;
        margin-bottom: -17px;
    } */

    /* #camel_icon:hover{
        background-color: #3C7D00;
        color: white;
        transition: 0.2s;
    } */

    /* SearchBar stuff */

   
    /* Add a black background color to the top navigation bar */
.search {
    overflow: hidden;
    width: fit-content;
    border: 0.5px solid #3C7D00;
    float: right;
    border-radius: 5px;
  }
  
  /* Style the search box (around and inside it) input=[type=text] means it's picking input with type=text that i a chiild of class=search */
  .search input[type=text] {
    padding: 10px;
    border: none;
    font-size: 17px;
    background-color: #e9e9e9;
  }

  .search i{
    color: #3C7D00;
    margin-right: 5px;
    padding: 6px;

  }

  .search i:hover{
    padding: 6px;
    color: #e9e9e9;
    transition: .5s;
  }



    #submit{
        border-radius: 15px;
        height: 30px;
        margin-right: 20px;
        transform: scale(1.1);
    }
    #submit:hover{
        color: white;
        background-color: black;
        transition: .2s;
        
    }
    #product{
        width: 250px;
        height: 40px;
        font-size: 20px;
        box-shadow: 3px 10px 5px black;
    }

    #contact_details{
        display: flex;
        font-size: 25px;
        gap: 25px;
        margin-left: 30px;
        width: 400px;
       
    }
    #contact_details > a:hover{
        color: black;
        transition: .5s;
    }







    

    .marquee { 
        grid-area: 3 / 1 / 4 / 6;
        background-color:white;
        text-align: center;
        font-size: 20px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        margin-top: -60px;
        /* margin-bottom: 90px; */
        height: fit-content;
     }
    #marquee_content{
        animation: marquee-alternate 10s linear infinite;
        margin-left: 35%;
        margin-right: 35%;
        overflow-x: hidden;
    }
     @keyframes marquee-alternate {
        0% {
            transform: translateX(-95%); 
        }
        50% {
            transform: translateX(95%); 
        }
        100% {
            transform: translateX(-95%);
        }
    }

    .categories { 
        position: relative;
        grid-area: 4 / 1 / 10 / 2;
        background-color:white;
        margin-top: -98px;
        border: 1px solid black;
     }
    .categories li:hover {
        text-decoration: underline;
        color: rgba(9, 9, 9, 0.702); 
    }
    /* For box at the top of category search */
    #category_box {
        position: absolute;
        top: -10px;
        right: 5px;
        border-radius: 5px;
        border: 1px solid grey;
        background: white;
        padding: 2px;
        color: grey; 
    }

    #category_box b {
        color: rgba(9, 9, 9, 0.702);
    }


    #all_categories{
        position: absolute;
        top: 358px;
        right: 700px;
        border-radius: 5px;
        border: 1px solid grey;
        background: white;
        padding: 2px;
        color: grey; 

    }
    #all_categories b {
        color: rgba(9, 9, 9, 0.702);
    }
    .news { 
        grid-area: 4 / 5 / 10 / 6;
        background-color:white;
        margin-top: -98px; }
    .footer { 
        grid-area: 10 / 1 / 11 / 6;
        height: 100px;
        background-color:crimson; }
    

        /* MAIN CONTENT */
.main { 
        grid-area: 4 / 2 / 10 / 5;
        background-color:white; 
        border: 1px solid black;
        margin-top: -98px;}

#all_items{
        position: absolute;
        top: 358px;
        right: 700px;
        border-radius: 5px;
        border: 1px solid grey;
        background: white;
        padding: 2px;
        color: grey; 
    }
#all_items b{
    color: rgba(9, 9, 9, 0.702);

}
#item_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 10px;
    padding: 20px;
}

#item_grid img{
        /* max-height: 100px; */
        width: 235px; /* Set the desired width */
        height: 200px; /* Set the desired height */
        object-fit: contain; /* Ensure the whole image is shown */
        background-color: #f0f0f0;
        /* width: 150%; */
        border-radius: 10px;
}

.pagination_container{
    display: flex;
    justify-content: space-between;
}

.pagination_container a:hover{
    text-decoration: underline;
}

#previous_page_counter{
    margin-right: 90px;
}


#item_details{
    text-align: end;
}
   
#item_name, .categories{
    color: #3C7D00;
}
#item_price{
    color: red;
}
#item_container:hover{
    box-shadow: 5px 5px 5px grey;
    border: 1px solid black;
}
       
#item_container{
    border: 1px solid black;
    border-radius: 10px;
    width: 15em;
}

/* SINGLE PRODUCT */
#single_item_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 10px;
    padding: 20px;
}

#single_item_grid img{
        /* max-height: 100px; */
        width: 712px; /* Set the desired width */
        height: 200px; /* Set the desired height */
        object-fit: contain; /* Ensure the whole image is shown */
        background-color: #f0f0f0;
        /* width: 150%; */
        border-radius: 10px;
}

#single_item_container{
    border: 1px solid black;
    border-radius: 10px;
    width: 45em;
}


/* CART STYLING */

/* #cart_container{
    
} */

#cart_container > div{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

table img{
    width: 150px;
    height: 70px;
    padding: 10px;
}

/* div > td{
    background-color: #3C7D00;
} */

tr #name, tr #category,tr #remove{
    display: flex;
    padding-top: 8px;
    
    
}
th{
    color: #666666; 
}

#price, #increment, #decrement, #quantity, #total{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

#decrement{
    padding-left: 10px;
}

#increment{
    padding-right: 10px;
    font-size: 25px;
}

#quanity {
    /* border: 1px solid black;       */
    color: #666666;             
    border-radius: 4px;           
    text-align: center;         
    cursor: default; /*  shows regular cursor, not clicky one */
    padding: 10px;
    min-width: 30px;        /* keeps it from squishing too narrow */
    margin-top: 40px;
}


#quanity:hover {
    background-color: #e0e0e0;    
    color: #333333;  
    transition: 0.2s;             
}

#total_cost_box{
    font-size: 20px;
}

#checkout{
    display: flex;
    justify-content: right;
}

#checkout_box{
    border: 2px solid black;
    margin-top: 10px;

    display: inline-block;
    padding: 10px 20px;
    background-color: #3C7D00;  /* green */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#checkout_box:hover {
    background-color: #218838;
}



#continue_shopping, #clear_cart{
    border: 2px solid black;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3C7D00;  /* green */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

